
:root {
  color: #1D1E21;
  background-color: rgba(247, 248, 250, 1);
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
dd,
dl {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

/* a,
a:hover,
a:focus {
  color: inherit;
  
} */

a,
button {
  cursor: pointer;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #E6E6E6;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #F1F1F1;
}